@model TabloidMVC.Models.ViewModels.PostCommentViewModel

@{
    ViewData["Title"] = "Details";
}

<div class="container pt-5">
    <h1>@Model.Post.Title</h1>

    <div>
        <p>Written by @Model.Comment.UserProfile.DisplayName</p>
        <h5>Your Edited Comment</h5>
        <hr />

        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Comment.Subject)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Comment.Subject)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Comment.Content)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Comment.Content)
            </dd>
        </dl>
    </div>

    <div>
        @*@Html.ActionLink("Back To Edit", "Edit", "Comment", new { id = Model.Id }) |*@
        @Html.ActionLink("Back To List", "Index", "Comment", new { id = Model.Comment.PostId }) |
    </div>
</div>
