@model TabloidMVC.Models.ViewModels.PostCommentViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>@Model.Post.Title</h2>
<div>
    <a asp-controller="Post" asp-action="Details" asp-route-id="@Model.Post.Id">Back to Post</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Author
            </th>
            <th>
                Subject
            </th>
            <th>
                Comment
            </th>
            <th>
                Date Written
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (Comment comment in Model.Comments)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => comment.UserProfile.DisplayName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => comment.Subject)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => comment.Content)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => comment.CreateDateTime)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@comment.Id" class="btn btn-outline-primary mx-1" title="Edit">
                        <i class="fas fa-pencil-alt"></i>
                    </a>
                    <a asp-action="Delete" asp-route-id="@comment.Id" class="btn btn-outline-primary mx-1" title="Delete">
                        <i class="fas fa-trash"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>


