@model TabloidMVC.Models.ViewModels.PostCommentViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<h2>@Model.Post.Title</h2>


<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        @foreach (Comment comment in Model.Comments)
        { 
        <tr>
            <th>
                @Html.DisplayNameFor(modelItem => comment.UserProfile.DisplayName)
            </th>
            <th>
                @Html.DisplayNameFor(modelItem => comment.Subject)
            </th>
            <th>
                @Html.DisplayNameFor(modelItem => comment.Content)
            </th>
            <th>
                @Html.DisplayNameFor(modelItem => comment.CreateDateTime)
            </th>
        </tr>
        }
    </thead>
    <tbody>
@foreach (Comment comment in Model.Comments) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => comment.UserProfile.DisplayName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => comment.Subject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => comment.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => comment.CreateDateTime)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = comment.Id }) |
                @Html.ActionLink("Details", "Details", new { id = comment.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = comment.Id })
            </td>
        </tr>
}
    </tbody>
</table>

<div>
    <a asp-controller="Post" asp-action="Detail">Back to List</a>
</div>
